h1{
    color: red;
}

.titulodiferente{
    color: aquamarine;
    font-size: 60px;
} 

.estudiar{
    background: red;
}

h2 {
color: blue;
}

.h2diferente { 
    color: red;
}

.fondoverde {
    background:green;
}
h2{
    text-align: center;
}